
.form-container{
    padding: 2.25em;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.25em;
    padding:0 0.65em;
}

.form-group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.25em;
    padding:0 0.65em;
}

.error {
    color: #dc3545!important;
    font-size: 0.8em;
    margin-top:1em;
}